@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Rubik+Distressed&display=swap');

/* Default properties for html page */
* {
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    list-style-type: none;

}

body {
    overflow-x: hidden;
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: bold;
}

.middle {
    min-width: 100%;
        min-height: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
}



/* Video properties on the background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    /* padding: 10px; */
    z-index: 1;
}

.content .footer_social {
    text-align: center;
}

.content .footer_social li {
    display: inline-block;
}

.content .footer_social i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.content .footer_social i:hover{
    color: rgba(255, 255, 255, 0.3);
}

.content .footer_social .footer_network {
    padding-top: 20px;
}

.content .footer_social .footer_network a {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.content .footer_social .footer_network a:hover {
    color: rgba(255, 255, 255, 0.3)
}

.content .footer_social .footer_network {
    padding-bottom: 20px;
}

.content .footer_social p {
    font-size: 12px;
    padding-bottom: 8px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


/* Navigation panel */
 .topnav {
     background-color: rgba(0, 0, 0, 0.5);
     overflow: hidden;
     position: relative;
     z-index: 1;
     width: 100%;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 25px 16px;
     text-decoration: none;
     font-size: 25px;
     font-weight: bolder;
    font-family: 'BhuTuka Expanded One', cursive;
     /* font-family: 'Rubik Distressed', cursive; */
 }

 .topnav h1.right {
    float: right;
    font-size: 30px;
    font-family: 'BhuTuka Expanded One', cursive;
    color: white;
    margin-top: 22px;
    margin-right: 20px;
 }

 
 
 .topnav h1.right_k {
     float: right;
     font-size: 25px;
     border: 1px solid grey;
     padding: 10px 10px 10px 10px;
     margin-top: 15px;
     margin-right: 20px;
    font-family: 'BhuTuka Expanded One', cursive;
     color: white;

 }

 .topnav h1.right_k:hover {
    border: 1px solid goldenrod;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
     color: rgba(255, 255, 255, 0.3);
 }

 /* Add an active class to highlight the current page */
 .topnav a.active {
    color: rgba(255, 196, 0, 0.5);
 }

 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
     display: none;
 }

 .medium_silent{
    position: relative;
    float: left;
    margin: 150px auto;
    margin-left: 100px;
    margin-right: 100px;

    
    /* opacity: 0.6; */
 }

 .medium_silent .logo_silent {
    text-align: center;
 }

 .medium_silent .logo_silent img {
    width: 100%;
    height: 250px;
 }

 .medium_silent .medium_social {
    text-align: center;
 }

 .medium_silent .medium_social li {
    display: inline-block;
 }

 .medium_silent .medium_social li i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .medium_silent .medium_social li i:hover {
    font-size: 38px;
    color: rgba(255, 255, 255, 0.3);
    
 }

.medium_silent .medium_descr {
    text-align: center;
    padding: 30px;
}

.medium_silent .medium_descr p {
    font-size: 20px;
}

.medium_silent .medium_descr span {
    color: red;
    font-weight: bold;
}

.medium_right {
        position: relative;
        float: right;
        margin-top: 200px;
        margin-right: 100px;
        margin-bottom: 250px;
        margin-left: 100px;

}

.store_middle {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}



.medium_right_store {
    position: relative;
    float: right;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 250px;
    margin-left: 100px;

}

.medium_left_store {
    position: relative;
    float: left;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 250px;
    margin-left: 100px;

}

.medium_left_store img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_left_store img:hover {
    border: 2px solid goldenrod;
}

.medium_right_store img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_right_store img:hover {
    border: 2px solid goldenrod;
}

.order_store {
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    left: 240px;
    bottom: 50px;

}

.order_store a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.order_store a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
}

.medium_right img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_right img:hover {
    border: 2px solid goldenrod;
}

.fogwrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    object-fit: cover;
    object-position: bottom;
   

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.order {
    position: absolute;
    width: 120px;
    height: 40px;
    float: right;
    bottom: 40px;
    left: 50px;
    border-radius: 8px;
    text-align: center;
    opacity: 0.7;
}

.order a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.order a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
    opacity: none;
}

/* store page */

.store_middle .tshirts {
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.store_middle .flex1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
}

.store_middle .flex2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    text-align: center;
}

.store_middle .tshirts img {
    width: 50%;
    border: 1px solid gold;
}

.store_middle .tshirts p {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}
.store_middle .tshirts a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.store_middle .tshirts a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
}

/* about page */

.about_middle {
     min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1220px) {
    .topnav a {
            font-size: 20px;
        }

    .topnav h1.right {
            font-size: 20px;
        }
    
    .topnav h1.right_k {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav h1.right {
        display: none;
    }

    .topnav h1.right_k {
        display: none;

    }

    .topnav.responsive {
            position: relative;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .store_middle .flex1 {
        flex-direction: column;
        float: left;
        width: 50%;
    }
    
    .store_middle .flex2 {
        flex-direction: column;
        float: right;
        width: 50%;
    }
   
}


@media screen and (max-width: 800px) {
    .medium_right img { 
            width: 400px;
            margin: auto;
                display: block;
        }
}

@media screen and (max-width: 775px) {
    .content .footer_social .footer_network a {
        padding: 5px;
        font-size: 15px;
    }

    .store_middle .tshirts {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .store_middle .tshirts p{
        font-size: 15px;
    }

    .store_middle .tshirts a {
        font-size: 15px;
    }
}