@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Rubik+Distressed&display=swap');

/* Default properties for html page */
* {
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    list-style-type: none;

}

body {
    overflow-x: hidden;
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: bold;
}



/* Video properties on the background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    /* padding: 10px; */
    z-index: 1;
}

.content .footer_social {
    text-align: center;
}

.content .footer_social li {
    display: inline-block;
}

.content .footer_social i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.content .footer_social i:hover{
    color: rgba(255, 255, 255, 0.3);
}

.content .footer_social .footer_network {
    padding-top: 20px;
}

.content .footer_social .footer_network a {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.content .footer_social .footer_network a:hover {
    color: rgba(255, 255, 255, 0.3)
}

.content .footer_social .footer_network {
    padding-bottom: 20px;
}

.content .footer_social p {
    font-size: 12px;
    padding-bottom: 8px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


/* Navigation panel */
 .topnav {
     background-color: rgba(0, 0, 0, 0.5);
     overflow: hidden;
     position: relative;
     z-index: 1;
     width: 100%;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 25px 16px;
     text-decoration: none;
     font-size: 25px;
     font-weight: bolder;
    font-family: 'BhuTuka Expanded One', cursive;
     /* font-family: 'Rubik Distressed', cursive; */
 }

 .topnav h1.right {
    float: right;
    font-size: 30px;
    font-family: 'BhuTuka Expanded One', cursive;
    color: white;
    margin-top: 22px;
    margin-right: 20px;
 }
 
 .topnav h1.right_k {
     float: right;
     font-size: 25px;
     border: 1px solid grey;
     padding: 10px 10px 10px 10px;
     margin-top: 15px;
     margin-right: 20px;
    font-family: 'BhuTuka Expanded One', cursive;
     color: white;

 }

 /* Change the color of links on hover */
 .topnav a:hover {
     color: rgba(255, 255, 255, 0.3);
 }

 /* Add an active class to highlight the current page */
 .topnav a.active {
    color: rgba(255, 196, 0, 0.5);
 }

 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
     display: none;
 }

 .medium_silent{
    position: relative;
    float: left;
    margin: 150px auto;
    margin-left: 100px;
    margin-right: 100px;
    /* opacity: 0.6; */
 }

 .medium_silent .logo_silent {
    text-align: center;
 }

 .medium_silent .logo_silent img {
    width: 100%;
    height: 250px;
 }

 .medium_silent .medium_social {
    text-align: center;
 }

 .medium_silent .medium_social li {
    display: inline-block;
 }

 .medium_silent .medium_social li i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .medium_silent .medium_social li i:hover {
    font-size: 38px;
    color: rgba(255, 255, 255, 0.3);
    
 }

.medium_silent .medium_descr {
    text-align: center;
    padding: 30px;
}

.medium_silent .medium_descr p {
    font-size: 20px;
}

.medium_silent .medium_descr span {
    color: red;
    font-weight: bold;
}

.medium_right {
    position: relative;
    float: right;
    margin: 200px 50px;
    /* opacity: 0.6; */
}

.medium_right img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
}

.fogwrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}

#foglayer_01 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}

#foglayer_01 .image01,
#foglayer_01 .image02 {
    background: url("../images/fog/fog1.png") repeat-x top left transparent;
    background-size: 100%;
    width: 50%;
    height: 100%;
    float: left;
}

#foglayer_02 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 13s linear infinite;
    -webkit-animation: foglayer_01_opacity 21s linear infinite,
        foglayer_moveme 13s linear infinite;
}

#foglayer_02 .image01,
#foglayer_02 .image02 {
    background: url("../images/fog/fog2.png") repeat-x top left transparent;
    background-size: 100%;
    width: 50%;
    height: 100%;
    float: left;
}

#foglayer_03 {
    width: 200%;
    height: 100%;
    position: absolute;
    animation: foglayer_02_opacity 21s linear infinite,
        foglayer_moveme 13s linear infinite;
    -webkit-animation: foglayer_01_opacity 21s linear infinite,
        foglayer_moveme 13s linear infinite;
}

#foglayer_03 .image01,
#foglayer_03 .image02 {
    background: url("../images/fog/fog2.png") repeat-x top left transparent;
    background-size: 100%;
    width: 50%;
    height: 100%;
    float: left;
}

@keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@-webkit-keyframes foglayer_01_opacity {
    0% {
        opacity: .1;
    }

    22% {
        opacity: .5;
    }

    40% {
        opacity: .28;
    }

    58% {
        opacity: .4;
    }

    80% {
        opacity: .16;
    }

    100% {
        opacity: .1;
    }
}

@keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@-webkit-keyframes foglayer_02_opacity {
    0% {
        opacity: .5;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: .1;
    }

    80% {
        opacity: .3;
    }

    100% {
        opacity: .5;
    }
}

@keyframes foglayer_03_opacity {
    0% {
        opacity: .8;
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@-webkit-keyframes foglayer_03_opacity {
    0% {
        opacity: .8;
    }

    27% {
        opacity: .2;
    }

    52% {
        opacity: .6;
    }

    68% {
        opacity: .3;
    }

    100% {
        opacity: .8;
    }
}

@keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@-webkit-keyframes foglayer_moveme {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav h1.right {
        display: none;
    }

    .topnav h1.right_k {
        display: none;

    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


}