/* Import font style from google fonts page */
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Nerko+One&family=Rubik+Distressed&display=swap');
/* Default properties for html page */
* {
    margin: 0;
    padding: 0;
    border: none;
     color: white;
    list-style-type: none;

}

body {
    overflow-x: hidden;
    font-family: 'BhuTuka Expanded One', cursive;
    font-weight: bold;
}

.middle {
    min-width: 100%;
        min-height: 100%;
        position: fixed;
        right: 0;
        bottom: 0;
}



/* Video properties on the background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    z-index: 1;
}

.content .footer_social {
    text-align: center;
}

.content .footer_social li {
    display: inline-block;
}

.content .footer_social i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.content .footer_social i:hover{
    color: rgba(255, 255, 255, 0.3);
}

.content .footer_social .footer_network {
    padding-top: 20px;
}

.content .footer_social .footer_network a {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}

.content .footer_social .footer_network a:hover {
    color: rgba(255, 255, 255, 0.3)
}

.content .footer_social .footer_network {
    padding-bottom: 20px;
}

.content .footer_social p {
    font-size: 12px;
    padding-bottom: 8px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


/* Navigation panel */
 .topnav {
     background-color: rgba(0, 0, 0, 0.5);
     overflow: hidden;
     position: relative;
     z-index: 1;
     width: 100%;
 }

 /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 25px 16px;
     text-decoration: none;
     font-size: 20px;
     font-weight: bolder;
    font-family: 'BhuTuka Expanded One', cursive;
 }

 .topnav .right {
    float: right;
    border: 1px solid grey;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-right: 5px;
 }

 .topnav .right:hover {
     border: 1px solid goldenrod;
 }

 .topnav .right_k {
     float: right;
    border: 1px solid grey;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-right: 20px;
 }

 .topnav .right_k:hover {
    border: 1px solid goldenrod;
 }

 /* Change the color of links on hover */
 .topnav a:hover {
     color: rgba(255, 255, 255, 0.3);
 }

 /* Add an active class to highlight the current page */
 .topnav a.active {
    color: rgba(255, 196, 0, 0.5);
 }

 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
     display: none;
 }

 /* Medium properties for index html file */
 .medium_silent{
    position: relative;
    float: left;
    margin: 150px auto;
    margin-left: 100px;
    margin-right: 100px;

 }

 .medium_silent .logo_silent {
    text-align: center;
 }

 .medium_silent .logo_silent img {
    width: 100%;
    height: 250px;
 }

 .medium_silent .medium_social {
    text-align: center;
 }

 .medium_silent .medium_social li {
    display: inline-block;
 }

 .medium_silent .medium_social li i {
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
 }

 .medium_silent .medium_social li i:hover {
    font-size: 38px;
    color: rgba(255, 255, 255, 0.3);
    
 }

.medium_silent .medium_descr {
    text-align: center;
    padding: 30px;
}

.medium_silent .medium_descr p {
    font-size: 20px;
}

.medium_silent .medium_descr span {
    color: red;
    font-weight: bold;
}

/* properties for right image at the index html */
.medium_right {
        position: relative;
        float: right;
        margin-top: 200px;
        margin-right: 100px;
        margin-bottom: 250px;
        margin-left: 100px;
}


/* properties for store page at medium section */
.store_middle {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.medium_right_store {
    position: relative;
    float: right;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 250px;
    margin-left: 100px;

}

.medium_left_store {
    position: relative;
    float: left;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 250px;
    margin-left: 100px;

}

.medium_left_store img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_left_store img:hover {
    border: 2px solid goldenrod;
}

.medium_right_store img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_right_store img:hover {
    border: 2px solid goldenrod;
}

.order_store {
    position: absolute;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    left: 250px;
    bottom: 50px;

}

.order_store a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.order_store a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
}

.medium_right img {
    text-align: center;
    width: 600px;
    border-radius: 6%;
    opacity: 0.7;
    border: 1px solid gold;
}

.medium_right img:hover {
    border: 2px solid goldenrod;
}

/* This class is representive for background image on all pages around the web-site */
.fogwrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    object-fit: cover;
    object-position: bottom;
   
    /* animation for images background */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}



/* creates the level of zoom for background images */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Represents for Buy button on the website  */
.order {
    position: absolute;
    width: 120px;
    height: 40px;
    float: right;
    bottom: 40px;
    left: 50px;
    border-radius: 8px;
    text-align: center;
    opacity: 0.7;
}

.order a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.order a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
    opacity: none;
}

/* Represents for tshirts to buy some clothes */
.store_middle .tshirts {
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.store_middle .flex1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 70px;
}

.store_middle .flex2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
    text-align: center;
}

.store_middle .tshirts img {
    width: 50%;
    border: 1px solid gold;
    border-radius: 7px;
}

.store_middle .tshirts p {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.store_middle .tshirts a {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.store_middle .tshirts a:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
}

/* Represent for about us page */

.about_middle {
     min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* contact page */

.middle .middle_form{
    position: relative;
}

.middle .contact-message textarea {
    width: 81%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.middle .contact-message textarea:hover{
    border: 1px solid gold;
}

.middle_form {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 200px;
}

.contact-form {
    float: left;
    width: 40%;
    left: 50px;
    top: 40px;
    position: relative;
}

.contact-details {
    width: 80%;
}

.contact-text, .contact-message textarea{
    display: block;
    padding: 10px 10px 10px 10px;
}

.contact-details input {
    width: 100%;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-details input:hover {
    border: 1px solid gold;
}

.contact-heading {
    padding-left: 10px;
}

.map-details {
    float: right;
    right: 50px;
    top: 40px;
    position: relative;
    padding-left: 5px;
    padding: 10px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.5);
        border: 1px solid goldenrod;
        border-radius: 7px;
}

.map-details:hover {
    border: 1px solid gold;
}

.map_heading {
    padding-top: 20px;
}

.map_heading a {
    text-decoration: none;
}

.map_heading iframe {
    width: 600px;
    height: 350px;
}

.map-details p {
    color: #fdfdfd;
}

.middle_form label {
    color: rgb(187, 161, 79);
    padding-top: 10px;
    font-size: 20px;
}

.contact-message p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(187, 161, 79);
    font-size: 18px;
}

.map-details h3 i{
    color: rgb(187, 161, 79);
    font-size: 25px;
}

.map-details h3 {
    color: rgb(187, 161, 79);
    padding-top: 11px;
    padding-bottom: 10px;
}

.button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    font-weight: bold;
}

.button:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
}


/* about page */

.middle .left_info {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    width: 30%;

    position: relative;

    color: white;
    line-height: 40px;

    padding: 10px 10px 10px 10px;

    margin-top: 150px;
    margin-left: 50px;
    border-radius: 7px;
    text-align: left;
    float: left;
}

.middle .left_info:hover {
    border: 1px solid gold;
}

.middle .left_info span {
    color: goldenrod;
    font-size: 20px;
}

.middle .right_info span {
    color: goldenrod;
        font-size: 25px;
}

.middle .right_info .welcome {
    color: white;
}

.middle .left_info .konami {
    color: red;
    font-size: 20px;
    font-style: normal;
}

.middle .right_info {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    width: 30%;

    position: relative;

    color: white;
    line-height: 40px;

    padding: 10px 10px 10px 10px;

    float: right;
    margin-top: 150px;
    margin-right: 50px;
    border-radius: 7px;
    text-align: left;

    font-size: 18px;
}

.middle .right_info:hover {
    border: 1px solid gold;
}


/* news page */
.middle .news_info {
    background: rgba(0, 0, 0, 0.5);
        border: 1px solid goldenrod;
        width: 85%;
        height: 600px;
    
        position: relative;
    
        color: white;
        line-height: 40px;
    
        padding: 10px 10px 10px 10px;
    
        
        border-radius: 7px;
        justify-content: center;

        margin: 120px auto;
    
        font-family: none;
}

.middle .news_info:hover {
    border: 1px solid gold;
}

.middle .news_info h1 {
    text-align: center;
    font-size: 40px;
}

.middle .news_info .news_info_left {
    width: 35%;
    margin: 20px 0px 0px 10px;
    float: left;
}

.middle .news_info .news_info_right {
    width: 35%;
    margin: 20px 0px 0px 0px;
    float: right;
}

.middle .news_info .news_info_right h2 span, .middle .news_info .news_info_left h2 span  {
    color: red;
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 25px;
}

.middle .news_info ul {
    padding-left: 20px;
}

.middle .news_info li {
    list-style-type: circle;
}

/* characters page */

.middle .characters {
    width: 80%;
    position: relative;
    margin: 200px auto;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    border-radius: 7px;
}

.middle .characters:hover {
    border: 1px solid gold;
}

.middle .characters .char_1 {
    width: 500px;
    height: 400px;
    margin: 50px 20px 20px 20px;
}

.middle .characters .char_1 img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 10px;
    opacity: 0.8;
}
.middle .characters .char_1 h3 {
    text-align: center;
    padding-bottom: 10px;
    color: goldenrod;
    font-size: 25px;
}

.middle .characters .char_1 p {
    text-align: center;
    line-height: 25px;
    font-family: 'BhuTuka Expanded One', cursive;
}


/* Log in page */

.middle .middle_form_log {
    position: relative;
    margin-top: 200px;
}

.middle_form_log {
    height: 400px;
    width: 100%;
}


.contact-form_log {
    width: 40%;
    padding: 10px 20px 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    border-radius: 7px;
    margin: 0 auto;
}

.contact-heading_log h2 {
    text-align: center;
    margin-right: 30px;
    padding-top: 20px;
}

.contact-details_log {
   padding-right: 15px;
}

.middle_form_log label {
    color: rgb(187, 161, 79);
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.contact-text_log{
    display: block;
    padding: 10px 10px 10px 10px;
}

.contact-details_log .label_inp input {
    width: 98%;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contact-details_log .label_inp input:hover {
    border: 1px solid gold;
}

.button_log {
    margin: 20px auto;
    border-radius: 2px;
    padding: 15px 40px 15px 40px;
    display: block;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
}

.button_log:hover {
    border: 1px solid goldenrod;
    background-color: rgba(0, 0, 0);
    opacity: none;
}

/* media querries for 1320px */
@media screen and (max-width: 1320px) {
    .topnav a {
            font-size: 20px;
            padding-left: 2px;
        }

    .topnav .right {
            font-size: 20px;
        }
    
    .topnav .right_k {
        font-size: 20px;
    }
}

@media screen and (max-width: 1205px){
    .topnav a {
        font-size: 18px;
    }
}


@media screen and (max-width: 1125px){
    .topnav .right, .topnav .right_k {
        font-size: 18px;
    }

    .topnav a {
        font-size: 16px;
    }
}

/* media quesrries for 1000px */
@media screen and (max-width: 1029px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .middle .middle_form_log {
        position: relative;
        margin-top: 100px;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav h1.right {
        display: none;
    }

    .topnav h1.right_k {
        display: none;

    }

    .topnav.responsive {
            position: relative;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .store_middle .flex1 {
        flex-direction: column;
        float: left;
        width: 50%;
    }
    
    .store_middle .flex2 {
        flex-direction: column;
        float: right;
        width: 50%;
    }
   
}

.middle .video_story {
    /* width: 1800px; */
    /* height: 600px; */
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.middle .video_story .first {
    width: 620px;
    height: 500px;
    border-radius: 9px;
    padding-left: 20px;

}

.middle .center_text {
    position: relative;
    margin: 100px auto;
    width: 10%;
}

.middle .center_text h1 {
    text-align: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gold;
    border-radius: 7px;
    font-size: 25px;
    text-decoration: none;
    line-height: 25px;
    padding: 5px;
}

/* sign up page */

.contact-form {
    float: left;
    width: 40%;
    left: 50px;
    top: 40px;
    position: relative;

    padding: 10px 0px 20px 20px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    border-radius: 7px;
}

.contact-form:hover {
    border: 1px solid gold;
}

@media screen and (max-width: 1001px) {

    .contact-heading_log h2 {
        font-size: 22px;
    }

    .middle_form_log label {
        font-size: 18px;
    }
}

/* Represent for media querries for 800px */
@media screen and (max-width: 800px) {
    .medium_right img { 
            width: 400px;
            margin: auto;
                display: block;
        }
}

/* Represent for media quesrries for 775px */
@media screen and (max-width: 775px) {
    .content .footer_social .footer_network a {
        padding: 5px;
        font-size: 15px;
    }

    .store_middle .tshirts {
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .store_middle .tshirts p{
        font-size: 15px;
    }

    .store_middle .tshirts a {
        font-size: 15px;
    }

    .contact-heading_log h2 {
        font-size: 20px;
    }

    .middle_form_log label {
        font-size: 16px;
    }
}

@media screen and (max-width: 691px){
    .contact-heading_log h2 {
            font-size: 18px;
        }
    
        .middle_form_log label {
            font-size: 14px;
        }
}

@media screen and (max-width: 300px) {
    .contact-form_log {
            width: 50%;
        }
}